* {
    font-family: "Montserrat", sans-serif;
}

header {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.nav-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    display: flex;
}

nav li {
    color: black;
    margin: 0px 15px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.botao {
    background-color: black;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px 35px;
}

.logo {
    cursor: default;
    display: flex;
    font-size: 36px;
    font-family: 'Pacifico', cursive;
    font-weight: 800;
    color: orange;
}

.banner-section {
    background-image: url("https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80");
    height: 100vh;
    font-weight: 500px;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

    .banner-section h1 {
        color: black;
        font-size: 52px;
        color: white;
        background: orange;
        padding: 0px 15px;
        font-weight: 800;
        cursor: default;
    }

    .banner-section p {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 24px;
        font-weight: 600;
        padding-top: 5px;
        margin-bottom: 40px;
        cursor: default;
    }

    .banner-section a {
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
    }

#title {
    margin-top: 15px;
    padding: 30px 0px 30px 0px;
    color: white;
    background-color: rgb(5, 153, 252);
    text-align: center;
}

    #title h1 {
        font-weight: 700;
        cursor: default;
    }

#phase {
    margin: 70px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

    #phase:hover {
        transform: scale(1.2);
    }

    #phase h1 {
        cursor: default;
        font-weight: 700;
    }

#section1 {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.column {
    text-align: center;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

    .column img {
        object-fit: cover;
        height: 270px;
        width: 100%;
    }

    .column h4 {
        font-family: "Arial" sans-serif;
        font-weight: 600;
        padding: 10px 0px 10px 0px;
        color: white;
        background: orange;
        margin-top: 15px;
    }

    .column p {
        height: 50px;
        padding: 0px 20px 0 20px;
    }

.botao {
    transition: transform 0.3s ease-in-out;
    background-color: rgb(5, 153, 252);
    border: none;
}

    .botao:hover {
        transform: scale(1.2);
        background-color: rgb(5, 83, 252);
    }


#section2 {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

#footer {
    padding: 30px 0px 30px 0;
    background-color: black;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.column2 {
    margin: 0px 70px 0px 70px;
    text-align: center;
}

    .column2 h4 {
        padding-bottom: 20px;
        color: white;
    }

    .column2 img {
        transition: transform 0.3s ease-in-out;
        object-fit: cover;
        height: 50px;
        width: 50px;
        margin: 0px 8px 0px 8px;
    }

        .column2 img:hover {
            transform: scale(1.2);
        }

    .column2 p {
        color: white;
    }

#sectionsobre {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.columnsobre {
    width: 60%;
    margin: 50px;
}

    .columnsobre h2 {
        font-family: "Montserrat", sans-serif;
        color: orange;
        font-weight: 700;
    }

    .columnsobre h4 {
        font-weight: 600;
        padding-bottom: 15px;
    }

    .columnsobre p {
        color: rgb(92, 92, 92);
        padding-bottom: 15px;
    }

    .columnsobre img {
        object-fit: cover;
        width: 100%;
    }

.animated {
    background-color: rgba(0, 0, 0, 0.212);
    border: 6px solid;
    border-color: white;
    width: 270px;
    padding: 15px 0px 15px 0px;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

    .animated:before {
        content: '';
        background: linear-gradient(20deg, #fffb00, #ffc400, #00ffd5, #006eff, #0026ff);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 12s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 6px;
    }

    .animated:hover:before {
        opacity: 2;
    }

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}
