header {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.nav-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    display: flex;
}

nav li {
    color: black;
    margin: 0px 15px;
}

nav a {
    font-family: 'Arial', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.botao {
    background-color: black;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px 35px;
}

.logo {
    display: flex;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    color: orange;
}

.banner-section {
    background-image: url("https://img.freepik.com/free-photo/beautiful-pet-portrait-dog_23-2149218450.jpg?t=st=1684435208~exp=1684435808~hmac=569259be7889867cf4f60119aa47f6799981e82888b19447afe981ab7048eabe");
    height: 100vh;
    font-weight: 500px;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

    .banner-section h1 {
        font-family: 'Arial', sans-serif;
        color: black;
        font-size: 42px;
        color: white;
        background: orange;
        padding: 0px 15px;
        font-weight: 800;
    }

    .banner-section p {
        font-family: 'Arial', sans-serif;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .banner-section a {
        font-family: 'Arial', sans-serif;
        text-decoration: none;
        font-weight: 600;
        background-color: black;
        color: #fff;
        border-radius: 30px;
        padding: 10px 35px;
    }

        .banner-section a:hover {
            background: orange;
        }

.title {
    margin-top: 15px;
    padding: 30px 0px 30px 0px;
    color: white;
    background-color: rgb(5, 153, 252);
    text-align: center;
}

    .title h1 {
        font-weight: 700;
    }

#section1 {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.column {
    text-align: center;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
}

    .column img {
        object-fit: cover;
        height: 270px;
        width: 100%;
    }

    .column h3 {
        padding: 5px 0px 5px 0px;
        color: white;
        background: orange;
        margin-top: 15px;
    }

    .column p {
        height: 50px;
        padding: 0px 15px 0 15px;
    }

.botao {
    background-color: rgb(5, 153, 252);
    border: none;
}

    .botao:hover {
        background-color: rgb(5, 83, 252);
    }


#section2 {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

#title h1 {
    font-weight: 700;
    text-align: center;
    padding: 60px;
}

#footer {
    padding: 30px 0px 30px 0;
    background-color: black;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.column2 {
    margin: 0px 70px 0px 70px;
    text-align: center;
}

    .column2 h3 {
        padding-bottom: 10px;
        color: white;
    }

    .column2 img {
        object-fit: cover;
        height: 50px;
        width: 100%;
        margin: 0px 10px 0px 10px;
    }

    .column2 p {
        color: white;
        
    }

#sectionsobre {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.columnsobre {
    width: 60%;
    margin: 50px;
}

    .columnsobre h2 {
        color: orange;
        font-weight: 700;
    }

    .columnsobre h4 {
        font-weight: 600;
        padding-bottom: 15px;
    }

    .columnsobre p {
        color: rgb(92, 92, 92);
        padding-bottom: 15px;
    }

    .columnsobre img {
        object-fit: cover;
        width: 100%;
    }
