@page "/petshow/termos"
@layout BlankLayout
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>PetShow - Termos de Uso</title>
</head>

<body>
    <h1>Termos de Uso</h1>

    <div class="container">
        <form>
            <p>Para oferecer a você uma experiência personalizada e segura em nosso site, solicitamos sua permissão para
                coletar, usar e processar seus dados pessoais. Como parte do processo de cadastro, precisamos dos
                seguintes dados:</p>
            <ul>
                <li>Nome: [Campo para o usuário preencher seu nome]</li>
                <li>Sobrenome: [Campo para o usuário preencher seu sobrenome]</li>
                <li>E-mail: [Campo para o usuário preencher seu e-mail]</li>
                <li>Senha: [Campo para o usuário criar sua senha]</li>
            </ul>
            <p>Esses dados serão utilizados exclusivamente para os seguintes propósitos:</p>
            <ul>
                <li>Identificação do usuário em nosso sistema.</li>
                <li>Fornecer uma forma única de login para sua conta.</li>
            </ul>
            <p>Garantimos que seus dados pessoais serão tratados com a máxima confidencialidade e segurança, de acordo
                com as disposições da Lei Geral de Proteção de Dados (LGPD). Não compartilharemos seus dados com
                terceiros
                sem o
                seu consentimento expresso.</p>

            <p>Você tem o direito de retirar seu consentimento a qualquer momento, bem como acessar, corrigir ou
                excluir
                seus dados pessoais. Para exercer esses direitos ou para obter mais informações sobre nossa política de
                privacidade, você pode entrar em contato conosco através dos canais disponibilizados em nosso site.</p>

            <p>Ao prosseguir com o cadastro, você concorda expressamente com nossa política de privacidade e com o uso
                dos
                seus dados pessoais conforme descrito acima.</p>

            <p>Agradecemos sua confiança em nossa plataforma.</p>

            <p>Atenciosamente,
                <br>PetShow.
            </p>

        </form>
    </div>
</body>

</html>
@code {

}
